/* ******** common ******** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}


/* ******** main ******** */



/* ******** debug ******** */

.debug main{
    background-color: blue;
}

