/* ******** common ******** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ******** main ******** */

.box {
    width: calc(100% /3 - 40px);
    float: left;
    margin: 15px;
    margin-bottom: 30px;
    
}

/* ******** image ******** */

.img {
    position: relative;
    height: 90%;

}
.image {
    object-fit: cover;
    width: 100%;
}

.image-hover {
    object-fit: cover;
    width: 100%;
    display: none;
}

.img:hover .image{
    display: none;
}
.img:hover .image-hover {
    display: inline;
}

/* ******** elementi sopra immagine ******** */

.heart {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 10px;
    background-color: white;
}

.mini-box {
    position: absolute;
    left: 0;
    bottom: 20px;
}

.mini-box .red, .mini-box .green {
    color: white;
    padding: 2.5px;
    display: inline-block;
    font-size: 12px;

}
.red {
    background-color: red;
}

.green {
    background-color: green;
}
/* ******** didascalia ******** */

.didascalia {
    height: 10%;
    margin-top: 10px;
}

.didascalia h4 {
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: bolder;
}
.didascalia h5 {
    color: grey;
}

.didascalia .price, .didascalia .old-price{
    font-size: 13px;
    display: inline-block;
}

.didascalia .old-price {
    text-decoration-line: line-through;
}
.didascalia .price {
    color: red;
}

/* ******** debug ******** */

.container.debug {
    background-color: blue;

}

.debug .box {
    background-color: red; 
    height: 700px;
}


